.container{
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container span{
  color:#8d8d99;
  font-size:14px;
}

.container button{
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-image:linear-gradient(to right, #002080,#56cbcf) 1;
}

.container h1{
text-align: center;
font-size: 20px;
}